<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nexteer.company">
	<select id="getCompanyIndex" resultType="Integer">
		select IFNULL(max(company_index),0)+1
		  from company
	</select>
	
	<select id="getCompanyCount" parameterType="String" resultType="Integer">
		select count(*)
		  from company
		 where company_business_number = #{company_business_number}
	</select>
	
	<insert id="registerCompany">
		insert into company(company_index, company_name, company_president, company_business_number, company_region, company_location, company_website, company_phone, company_fax, company_email, member_index, company_register_date)
		values (#{company_index}, #{company_name}, #{company_president}, #{company_business_number}, #{company_region}, #{company_location}, #{company_website}, #{company_phone}, #{company_fax}, #{company_email}, #{member_index}, now())
	</insert>
	
	<select id="getCompanyList" resultType="kr.co.nexteer.domain.CompanyVO">
		select *
		  from company
		 where company_delete_date is null
		 order by company_index
	</select>
	
	<select id="getCompany" parameterType="Integer" resultType="kr.co.nexteer.domain.CompanyVO">
		select *
		  from company
		 where company_index = #{company_index}
	</select>
		
	<update id="updateCompany">
		update company
		   set company_name = #{company_name}, company_president = #{company_president}, company_business_number = #{company_business_number},
			   company_region = #{company_region}, company_location = #{company_location}, company_website = #{company_website},
			   company_phone = #{company_phone}, company_fax = #{company_fax}, company_email = #{company_email},
			   member_index = #{member_index}, company_modify_date = now()
		 where company_index = #{company_index}
	</update>
	
	<update id="deleteCompany" parameterType="Integer">
		update company
		   set company_delete_date = now()
		 where company_index = #{company_index}
	</update>
</mapper>